/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*TASK: search for desired fonts*/

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic Styles*/
body {
    min-height: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Cambay', sans-serif;
    width: 100%;
    color: white;
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 185px;
    flex-wrap: wrap;
}
em{
    color: red;
}

section{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid red;
}

#buttons{
    background-color: white;
    height: auto;
    padding-bottom: 25px;
    border-top: white;
    border-bottom: white;
}

#submit{
    background-color: white;
    height: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    border-top: white;
}

#three-cups {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 25px;
    height: 85%;
    border-bottom: white;
}

button{
    position: relative;
    padding: 10px;
}

#btn-one:hover,#btn-two:hover,#btn-three:hover,#btn-Submit:hover{
    background-color: red;
    font: bolder;
    color: white;
}

.score-area{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

}
