/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*TASK: search for desired fonts*/

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic Styles*/
body {
    min-height: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Cambay', sans-serif;
    width: 100%;
    padding-bottom: 25px;
}

h1 {
    color: White;
    display: flex;
    justify-content: center;
    font-size: 185px;
    flex-wrap: wrap;
}

h2,
h3 {
    font-size: 50px;
}

section {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    border: solid white;
}

.neonText {
    color: white;
    text-shadow:
        0 0 7px #fd6565,
        0 0 10px #fd6565,
        0 0 21px #fd6565,
        0 0 42px rgb(190, 93, 101),
        0 0 82px rgb(190, 93, 101),
        0 0 92px rgb(190, 93, 101),
        0 0 102px rgb(190, 93, 101),
        0 0 151px rgb(190, 93, 101);
}

.hidden {
    display: none;
}

/*Welcome Page and End of game */
#welcome,
#endGame {
    background-color: black;
    padding-bottom: 25px;
    height: 85%;
    flex-direction: column;
    align-content: center;
    color: white;
    font-weight: bolder;
    text-align: center;
    line-height: 3;
}

/*Game plan Page*/
#selectionArea {
    background-color: black;
    height: auto;
    padding-bottom: 25px;
    border-top: white;
    border-bottom: white;
    flex-direction: row;
    justify-content: space-around;
}

#submit {
    background-color: black;
    height: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    border-top: black;
    flex-direction: row;
    justify-content: space-around;
}

#threeCups {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 25px;
    height: 85%;
    border-bottom: black;
    flex-direction: row;
    justify-content: space-around;
}

.screenOver {
    border: black;
}

button {
    position: relative;
    padding: 10px;
}

.Btn:hover,
.btn-Submit:hover,
#homeBtn:hover {
    background-color: white;
    font: bolder;
    color: black;
}

/*Focus not working 07/11/24*/
.Btn:focus {
    background-color: red;
    font: bolder;
    color: white;
}

#scoreArea {
    justify-content: space-around;
    padding-top: 10px;
    color: #fd6565;
    background-color: black;
    border: none;
}

#keepGoing {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 25px;
}

#homeBtn {
    margin-left: 40%;
    margin-right: 40%;
}

/*media query: smaller phones (575px and down)*/
@media screen and (max-width: 575px) {

    h1 {
        font-size: 150px;
    }

}